<ion-header>
  <app-header seccion="Registro"></app-header>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item>
      <h2>Registro</h2>
    </ion-item>
  
    <ion-card-content>
      <form (ngSubmit)="registro(fRegistro)" #fRegistro="ngForm"> 
              <ion-item>
                <ion-label position="floating">Id</ion-label>
                <ion-input required name="id" type="number" [(ngModel)]="registerUser.id"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input required name="login" type="email" [(ngModel)]="registerUser.login"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input required name="password" type="password" [(ngModel)]="registerUser.password"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input required name="nombre" type="text" [(ngModel)]="registerUser.nombre"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Apellidos</ion-label>
                <ion-input required name="apellidos" type="text" [(ngModel)]="registerUser.apellidos"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Rol</ion-label>
                <ion-input required name="rol" type="text" [(ngModel)]="registerUser.rol"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Imagen</ion-label>
                <ion-input  name="img" type="text" [(ngModel)]="registerUser.img"></ion-input>
              </ion-item>
            <ion-button expand="full" type="submit" color="tertiary">Sing Up</ion-button>
       </form>
      
    </ion-card-content>
  </ion-card>
 
</ion-content>
