<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
   <ion-grid>
    <ion-row>
      <ion-col offset="6" size="6">
        <ion-item id="bread">
          <span class="active" [routerLink]="['/' ,'categorias']">
              Categorias 
          </span>
          <span > > </span>
          <span > {{ idcategoria }} </span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2" size="10">
        <h3>Vehiculos de {{ idcategoria }}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="categoria" >
    <ion-card *ngFor="let vehiculos of categoria.vehiculos">
      <ion-card-header>
      <!--  <img *ngIf="producto.imagen"  src="{{ images }}/{{ producto.imagen }}"> -->
        <img *ngIf="vehiculos.img" [src] = "vehiculos.img | viewImage: 'vehiculos'">
        <ion-card-title [routerLink]="[ '/tabs/categorias/vehiculos', vehiculos.id]" >
            {{ vehiculos.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ vehiculos.marca | truncate: 100 }} 
      </ion-card-content>
    </ion-card>
  </ion-list>
 
</ion-content>