<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <ion-item>
    <h3>Listado de Vehiculos </h3>
    <ion-button slot="end" *ngIf="configService.isClickConfig">
      Nuevo Vehiculo
    </ion-button>
  </ion-item>
  
   <ion-grid>
    <ion-row>
      <ion-col offset="6" size="6">
        <ion-item id="bread">
          <span class="active" [routerLink]="['/' ,'categorias']">
              Categorias 
          </span>
          <span > > </span>
          <span > {{ idcategoria }} </span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2" size="10" *ngIf="filterPService.id" >
        <h3>Vehiculos {{ idcategoria }}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="vehiculos" >
    <ion-card *ngFor="let vehiculo of vehiculos">
      <ion-card-header>
      <!--  <img *ngIf="producto.imagen"  src="{{ images }}/{{ producto.imagen }}"> -->
        <img *ngIf="vehiculo.img" [src] = "vehiculo.img | viewImage: 'vehiculos'">
        <ion-card-title [routerLink]="[ '/tabs/categorias/detallevehiculos', vehiculo.id]" >
            {{ vehiculo.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ vehiculo.marca }} 
      </ion-card-content>
    </ion-card>
  </ion-list>
 
</ion-content>