<ion-header>
  <app-header ></app-header>
</ion-header>
<h3>Detalle vehiculo </h3>
<ion-row>
  <ion-col offset="6" size="6">
    <ion-item id="bread">
      <span class="active" [routerLink]="['/' ,'categorias']">
          Categorias 
      </span>
    </ion-item>
  </ion-col>
</ion-row>
<ion-content *ngIf="vehiculo">
  
   
    <ion-item  *ngIf="configService.isClickConfig">
      <ion-icon [routerLink]="[ '/tabs/categorias/detallevehiculos/edit/',vehiculo.id]" 
      color="primary" slot="end" name="create"></ion-icon>
      <ion-icon (click)="eliminarvehiculo(vehiculo.id)" color="primary" slot="end" name="trash-outline"></ion-icon>
    </ion-item> 
    <ion-item>
      <ion-input required readonly name="nombre"  type="text" [(ngModel)]="vehiculo.nombre"></ion-input>
    </ion-item> 
    <!-- <ion-item *ngIf="vehiculo">
      <span>{{vehiculo.nombre}}</span>
    </ion-item>
     -->

</ion-content>
