<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" menuId="first" (click)="getUser()">
      <ion-header>
        <ion-list-header *ngIf="usuarios">
            <img  routerLink="/perfil" src="http://vehiculos.jcgg.es/vehiculos/public/img/usuarios/{{usuarios.img}}">
          <div id="datos"  >
            <div id="clientes">
              <p>{{ usuarios.clientes.Nombre }}</p>
              <p></p>
            </div>
            <div id="usuario">
              <p>{{usuarios.nombre}} {{usuarios.apellidos}}</p> 
              <p>{{ usuarios.login }}</p>
              <p>{{ usuarios.rol }}</p>
            </div>    
          </div>
        </ion-list-header>
      </ion-header>
      <ion-content>   
        <ion-router-outlet name="secondary">
          
        </ion-router-outlet>
      </ion-content>
    </ion-menu>
    <ion-router-outlet name="primary" id="main-content">
      
    </ion-router-outlet>

  </ion-split-pane>
  
</ion-app>
