<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <ion-item>
    <ion-button *ngIf="configService.isClickConfig" routerLink= "/agregarc">
      Nueva Categoria
    </ion-button>
  </ion-item>
  <h3>Categorias de nuestros vehiculos</h3>
  
  <ion-list >
      <ion-card *ngFor="let c of categorias">
        <ion-card-header [routerLink]="['/tabs/categorias/vehiculos/', c.nombre]" >
        <!--  <img src="{{ images }}/{{ g.Imagen }}"> -->
          <img [src] = "c.img | viewImage: 'categorias'">
          <ion-card-title >{{ c.nombre }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{ c.descripcion}}
        </ion-card-content>
      </ion-card>
  </ion-list>
</ion-content>
